.git
.gitignore
README.md
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.vscode
.idea
*.log
node_modules
.npm
.node_repl_history
storage/logs/*
!storage/logs/.gitignore
